@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

$primary-color: #059669;
$primary-light-color: #ecfdf5;
$primary-dark: #334155;
$button-radius: 3px;

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: $primary-dark;
}

.header-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 12px;
  padding-left: 10px;
  align-items: center;
  background-color: $primary-light-color;

  .logo {
    align-items: start;
    font-size: 26px;
    font-weight: 700;
    padding-top: 5px;

    span {
      font-size: 30px;
      color: $primary-color;
    }
  }

  .btn-container {
    display: flex;
    gap: 20px;
    margin-top: 10px;
    align-items: center;
    margin-right: 60px;
    position: relative;

    .dropdown {
      button {
        svg {
          margin-left: 5px;
        }
        &:active {
          border: 2px solid $primary-color;
        }
        color: $primary-color;
        background: $primary-light-color;
        font-size: 12px;
        font-weight: 500;
        border: 2px solid $primary-color;
      }

      .dropdown-menu {
        width: fit-content;
        button {
          display: block;
          background-color: white;
          border: none;
          span {
            font-weight: bold;
          }
          padding: 10px 20px;
          color: $primary-color;
        }
      }
    }
    .register-btn {
      background-color: $primary-color;
      color: #fff;
      border-radius: $button-radius;
      padding: 8px 24px;
      font-size: 13px;
      letter-spacing: 0.5px;
      text-align: center;
    }

    .login-btn {
      background-color: transparent;
      font-size: 14px;
      letter-spacing: 0.5px;
      color: $primary-color;
    }
  }
}

.title {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  letter-spacing: -1px;
  font-size: 40px;
  font-weight: 700;
}

.tagline {
  display: flex;
  justify-content: center;
  font-size: 14px;
  margin-top: 20px;
}

.slider-container {
  background-color: $primary-light-color;

  .slick-list {
    margin: 40px 200px;
  }

  .slick-prev {
    width: 44px !important;
    height: 44px !important;
    left: 10% !important;
    z-index: 1;
  }
  .slick-next {
    width: 44px !important;
    height: 44px !important;
    right: 10% !important;
    z-index: 1;
  }
}

.single-coin {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $primary-light-color;
  padding: 50px 0;

  img {
    height: 70px;
    width: 70px;
  }

  p {
    margin-top: 15px;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 0;

    span {
      font-weight: 700;
      color: $primary-color;
    }
  }

  .price {
    margin-top: 5px;
    font-weight: 700;
  }
}

h2 {
  display: flex;
  justify-content: center;
  font-weight: 600;
}

.search-bar {
  display: flex;
  justify-content: center;
  margin-top: 30px;

  div {
    display: flex;
    border: 2px solid #9ca3af;
    border-radius: $button-radius;
    padding: 10px 15px;
    flex-basis: 700px;
  }

  input {
    outline: none;
    font-size: 12px;
    margin-left: 5px;
    flex-grow: 1;
  }
}

.desc-bar {
  display: flex;
  background-color: #c4c4c4;
  justify-content: space-between;
  align-items: center;
  padding: 12px 40px;
  margin-top: 40px;

  // :first-child {
  //   margin-right: auto;
  // }

  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
    gap: 145px;
  }

  p {
    font-size: 13px;
    font-weight: 600;
    margin: 0;
  }
}

.coin-info-item {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
  padding: 0;

  li {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .coin-container {
      display: flex;
      align-items: center;

      img {
        height: 24px;
        width: 24px;
      }

      p {
        font-size: 13px;
        font-weight: 600;
        margin: 0;
      }

      div {
        display: flex;
      }

      .div-1 {
        padding-left: 10px;
        gap: 20px;
        align-items: center;
      }

      .div-2 {
        padding-left: 10px;
        gap: 20px;
        align-items: center;
        margin-left: 100px;
        flex: 0 0 200px;
        justify-content: space-between;

        div {
          display: flex;
          align-items: center;
          gap: 20px;
        }

        .symbol {
          // margin-left: 100px;
          font-size: 10px;
          color: #475569;
        }
      }

      .div-3 {
        justify-content: space-between;
        justify-self: flex-end;
        gap: 170px;
        margin-left: auto;
        padding-right: 50px;
        align-items: center;
      }
    }

    .line {
      height: 1px;
      background-color: #c4c4c4;
      margin: 2px 50px;
      justify-self: center;
    }
  }
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 0px;

  .pagination {
    li {
      a {
        background-color: white;
        color: $primary-color;
      }
    }
  }

  .pagination {
    .active {
      a {
        color: white;
        background-color: $primary-color;
        border: 1px solid $primary-color;
      }
    }
  }
}

.item-info-container {
  display: flex;
  margin-top: 10px;

  .info-item-seperator {
    border: 1px solid rgba(5, 150, 105, 0.27);
    background-color: $primary-light-color;
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .info-item-div1 {
    flex: 0 0 25%;
    margin-left: 40px;
    .info-item-div1-div1 {
      flex-direction: column;
      display: flex;
      margin-top: 40px;
      gap: 20px;
      align-items: center;
      h2 {
        font-size: 30px;
        letter-spacing: 1.5px;
        font-weight: 900;
        color: $primary-dark;
      }

      p {
        color: $primary-dark;
        font-size: 12px;
      }

      img {
        width: 100px;
        height: 100px;
      }
    }

    .info-item-div1-div2 {
      flex-direction: column;
      display: flex;
      margin-top: 40px;
      gap: 20px;
      h3 {
        font-size: 20px;
        font-weight: bold;
      }

      span {
        color: $primary-color;
      }
    }
  }

  .info-item-div2 {
    display: flex;
    flex: 0 0 65%;
    gap: 20px;
    flex-direction: column;

    .info-item-div2-button-container {
      display: flex;
      gap: 10px;
      margin-left: 20px;

      .register-btn {
        background-color: white;
        color: $primary-color;
        border-radius: $button-radius;
        padding: 6px 22px;
        font-size: 13px;
        font-weight: bold;
        border: 2px solid $primary-color;
        letter-spacing: 0.5px;
        text-align: center;

        &:hover {
          background-color: $primary-color;
          color: white;
        }
      }
    }
  }
}
